<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />
	</head>

	<body>
        <div class="page">
            <section class="page-section">
                <div class="page-content hero-section">
                    <div class="hero">
                        <div class="hero-contant">
                            <span class="hero-label">Slack Features</span>
                            <h1 class="hero-title">One platform for your team and your work</h1>
                            <p class="hero-text double-line">All the features of Slack work together so you can, too</p>
                            <div class="hero-buttons">
                               <a href="#" class="button button-primary click">Try for free</a>
                               <a href="#" class="button button-secondary click">See all features</a>
                            </div>
                            <img src="/img/hero-full-ui.jpg.png" alt="Hero" class="hero-image">
                        </div>
                    </div>
                    <div class="brends">
                       <img src="/img/brends/airbnb.png" alt="airbnb" class="brends-image">
                       <img src="/img/brends/target.png" alt="target" class="brends-image">
                       <img src="/img/brends/uber.png" alt="uber" class="brends-image">
                       <img src="/img/brends/onemedical.png" alt="onemedical" class="brends-image">
                       <img src="/img/brends/newscorp.png" alt="newscorp" class="brends-image">
                       <img src="/img/brends/va.png" alt="va" class="brends-image">
                       <img src="/img/brends/intuit.png" alt="intuit" class="brends-image">
                       <img src="/img/brends/sonos.png" alt="sonos" class="brends-image"> 
                    </div>
                </div>
            </section>
            <section class="page-section page-section-light">
                <div class="page-content features-section">
                    <h2 class="features-title">Work more easily with everyone</h2>
                     <p class="features-text double-line">Stay on the same page and make decisions faster by bringing all of your
                              work communication into one place.</p>
                </div>
                <div class="features-grid-4">
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3>Slack Connect</h3>
                        <p class="double-line">Collaborate with teams at other companies the same way you do
                          with teams at your own.</p>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3>Slack Connect</h3>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3>Slack Connect</h3>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3>Slack Connect</h3>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3 class="feat-card-title">Slack Connect</h3>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3 class="feat-card-title">Slack Connect</h3>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                    <div class="feat-card">
                        <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                        <h3 class="feat-card-title">Slack Connect</h3>
                        <a href="#" class="icon icon-arrow feat-link click"></a>
                    </div>
                </div>
            </section>
        </div>
	</body>

</html>