<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
        <link rel="manifest" href="/fav/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />
	</head>

	<body>
        <div class="page">
            <section class="page-section">
                <div class="page-content hero-section">
                    <div class="hero">
                        <div class="hero-contant">
                            <span class="hero-label">Slack Features</span>
                            <h1 class="hero-title">One platform for your team and your work</h1>
                            <p class="hero-text double-line">All the features of Slack work together so you can, too</p>
                            <div class="hero-buttons">
                               <a href="#" class="button button-primary click">Try for free</a>
                               <a href="#" class="button button-secondary click">See all features</a>
                            </div>
                            <img src="/img/hero-full-ui.jpg.png" alt="Hero" class="hero-image">
                        </div>
                    </div>
                    <div class="brends">
                       <img src="/img/brends/airbnb.png" alt="airbnb" class="brends-image">
                       <img src="/img/brends/target.png" alt="target" class="brends-image">
                       <img src="/img/brends/uber.png" alt="uber" class="brends-image">
                       <img src="/img/brends/onemedical.png" alt="onemedical" class="brends-image">
                       <img src="/img/brends/newscorp.png" alt="newscorp" class="brends-image">
                       <img src="/img/brends/va.png" alt="va" class="brends-image">
                       <img src="/img/brends/intuit.png" alt="intuit" class="brends-image">
                       <img src="/img/brends/sonos.png" alt="sonos" class="brends-image"> 
                    </div>
                </div>
            </section>
            <section class="page-section page-section-light">
                <div class="page-content features-section first-light">
                    <h2 class="features-title">Work more easily with everyone</h2>
                     <p class="features-text double-line">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>
                    <div class="features-grid-4">
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/connect.svg')"></span>
                            <h3>Slack Connect</h3>
                            <p class="double-line">Collaborate with teams at other companies the same way you dowith teams at your own.</p>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/channels.svg')"></span>
                            <h3>Channels</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/huddles.svg')"></span>
                            <h3>Huddles</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/clips.svg')"></span>
                            <h3>Clips</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/canvas.svg')"></span>
                            <h3>Canvas</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/messaging.svg')"></span>
                            <h3>Messaging</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/accessibility.svg')"></span>
                            <h3>Accessibility</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page-section page-section-light">
                <div class="page-content second-features-section second-light">
                    <h2 class="features-title position-second">What you need, when you need it</h2>
                     <p class="features-text double-line position-second">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>
                    <div class="features-grid-3">
                        <div class="feat-card big">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/apps.svg')"></span>
                            <h3>Apps and Integrations</h3>
                            <p class="double-line">Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card big">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/workflow.svg')"></span>
                            <h3>Workflow Builder</h3>
                            <p class="double-line">Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/Search.svg')"></span>
                            <h3>Search</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                        <div class="feat-card">
                            <span class="icon feat-icon" style="background-image: url('/svg/features/File.svg')"></span>
                            <h3>File sharing</h3>
                            <a href="#" class="icon icon-arrow feat-link click"></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page-section">
                <div class="page-content card-section">
                    <img src="/img/deliveroo.png" alt="deliveroo" class="card-image">
                    <div class="customer-card">
                        <p class="customer-text double-line">“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.” </p>
                        <div class="customer-logo">
                           <img src="/img/brends/deliveroo-logo.png" alt="deliveroo-logo" class="brends-image">
                        </div>
                        <span class="customer-name">Will Sprunt, CIO, Deliveroo</span>
                    </div>
                </div>
            </section>
            <section class="page-section">
                 <div class="page-content slack-section">
                    <h2 class="slack-title">Explore more about working in Slack</h2>
                    <div class="slack-grid-3">
                        <div class="slack-card">
                            <img src="/img/slack-101.png" alt="slack" class="slack-image">
                            <div class="slack-card-content">
                                <span class="slack-label">Slack Tutorials</span>
                                <h3 class="slack-card-title double-line">Slack 101</h3>
                            </div>
                            <div class="slack-card-link">
                               <a href="#" class="slack-link click">Learn more</a>
                               <a href="#" class="icon icon-arrow click"></a>
                            </div>
                        </div> 
                        <div class="slack-card">
                            <img src="/img/slack-email.png" alt="slack-email" class="slack-image">
                            <div class="slack-card-content">
                               <span class="slack-label">Slack vs. Email</span>
                               <h3 class="slack-card-title double-line">An easier, more organized way to work</h3>
                            </div>
                            <div class="slack-card-link">
                               <a href="#" class="slack-link click">Learn more</a>
                               <a href="#" class="icon icon-arrow click"></a>
                            </div>
                        </div> 
                        <div class="slack-card">
                            <img src="/img/slack-customers.png" alt="slack-customers" class="slack-image">
                            <div class="slack-card-content">
                                <span class="slack-label">Customer Stories</span>
                                <h3 class="slack-card-title double-line">How Fastly uses Slack Connect to wow enterprise customers</h3>
                            </div>
                            <div class="slack-card-link">
                                <a href="#" class="slack-link click">Learn more</a>
                                <a href="#" class="icon slack-arrow click"></a>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>
        </div>
	</body>

</html>