/*
 * Завдання №1.
 */

.lesson-four-task-one button:hover {
     background-color: yellow;
     color: red;
}

/*
 * Завдання №2.
 */

 .lesson-four-task-two a:hover + h1{
     background-color: green;
 }
 /*
 * Завдання №3.
 */

 .lesson-four-task-three a:visited {
       color: yellow;
 }

 /*
 * Завдання №4.
 */
 
 .lesson-four-task-four #sidebar:link {
    color: red;
 }

 /*
 * Завдання №5.
 */

 .lesson-four-task-five .btn:active {
    background-color: blue;
 }

  /*
 * Завдання №6.
 */

 .lesson-four-task-six .btn:focus {
        background-color: orange;
        color: orangered;
 }

  /*
 * Завдання №7.
 */

 .lesson-four-task-seven #target:target {
    background-color: green;
    color: white;
 }

  /*
 * Завдання №8.
 */
  .lesson-four-task-eight #checkbox:checked ~ #target{
    background-color: blue;
    color: white;
  }

  /*
 * Завдання №9.
 */

 .lesson-four-task-nine > p:lang(uk) {
     color: blue;
 }

  /*
 * Завдання №10.
 */

 .lesson-four-task-ten input:enabled {
    background-color: yellow;
    color: red;
 }

 .lesson-four-task-ten label:has(+input:enabled) {
    color: red;
 }

  /*
 * Завдання №11.
 */

 .lesson-four-task-eleven input:disabled {
      background-color: yellow;
 }

   /*
 * Завдання №12.
 */

 .lesson-four-task-twelve input:read-write {
      background-color: yellow;
 }

   /*
 * Завдання №13.
 */

 .lesson-four-task-thirteen input:read-only {
      background-color: yellow;
 }

   /*
 * Завдання №14.
 */

 .lesson-four-task-fourteen input:focus:valid {
    background-color: green;
 }

 .lesson-four-task-fourteen input:focus:invalid {
    background-color: red;
 }

   /*
 * Завдання №15.
 */

 .lesson-four-task-fifteen textarea:optional {
    background-color: red;
 }

   /*
 * Завдання №16.
 */

 .lesson-four-task-sixteen input:out-of-range {
    color: red;
 }

   /*
 * Завдання №17.
 */

 .lesson-four-task-seventeen input:in-range {
    color: red;
 }

   /*
 * Завдання №18.
 */

 .lesson-four-task-eighteen input:focus:placeholder-shown {
    background-color: red;
 } 

  /*
 * Завдання №19.
 */

 .lesson-four-task-nineteen button:focus-within {
    background-color: yellow;
    color: white;
 }

  /*
 * Завдання №20.
 */

 .lesson-four-task-twenty input:focus:invalid {
    background-color: red;
 }