
body {
    display: grid;
    justify-content: center;
    width: 1920px;
    top: -663px;
    left: -1239px;
    gap: 10px;
    background: #111827;
}

main {
    width: 1150px;
}

.nav {
    width: 1150px;
    height: 84px;
}

.menu {
    height: 16px;
    margin-right: -16px;
 }
  
.link {
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    gap: 16px;
    margin-right: 16px;
  }
  
  /* Change the link color to #111 (black) on hover */
  .link:hover {
    color: blue;
  }
 
.header-nav {
    display: flex;
    width: 1150px;
    height: 54px;
    padding: 12px;
    border: 0px, 0px, 1px, 0px;
    justify-content: space-between;
    border-bottom: 1px solid #253041;
}

.logo {
    text-align: center;
    width: 56px;
    height: 30px;
    padding: 8px, 12px, 8px, 12px;
    border-radius: 10px; 
    background: #885FFB;
}

.brand {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.menu {
    height: 16px;
}

.online {
    display: flex;
    width: 1150px;
    height: 30px;
    padding-top: 12px;
    justify-content: space-between;
}

.ad {
    width: 411px;
    height: 18px;
    gap: 6px;
}

.header_ad {
    width: 30px;
    height: 18px;
    padding: 2px, 6px, 2px, 6px;
    border-radius: 4px;
    gap: 10px;
    background: #885FFB33;

}
.roboto-14 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.roboto-14 .header_ad {
    color: #885FFB;
}

.hero {
    width: 1150px;
    height: 300px;
    padding: 60px;
    border-radius: 24px;
    text-align: center;
    background: radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 15px 0px #0000001A;
    margin-top: 60px;
}

.hero h1 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.hero p {
    margin: auto;
    width: 600px;
    height: 36px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #9CA3AF;

}

.hero a {
    margin-top: 26px;
    border-radius: 10px;
    padding: 12px;
    background: #885FFB;
}    

.btn-hero {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}


.btn:hover {
    background-color: yellowgreen;
    border-color: #9CA3AF;
    color: black;
}

.about {
    margin-top: 60px;
    width: 1150px;
    height: 186px;
    padding: 32px;
    border-radius: 24px;
    background: #2A314170;
}

.about h2 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.about span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9CA3AF;
}

.articles {
    margin-top: 60px;
    width: 1150px;
    height: 452px;
}

.articles_title {
    width: 1150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.articles_title h2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.articles_title button {
    width: 99px;
    height: 40px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 10px;
    border: 1px;
    gap: 8px;
    color: #9CA3AF;
    border: 1px solid #9CA3AF;
    cursor: pointer;
}

.card-group {
    z-index: 2;
    margin-top: 26px;
    width: 1150px;
}

.card {
    z-index: 2;
    width: 362px;
    background: none;
    padding-right: 10px;
}

picture {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 24px;   
}

.card-img-top {
    border-radius: 24px;
    overflow: hidden;
}

.card-img-top:hover {
    width: 400.95px;
    height: 248.13px;
    border-radius: 24px;
}

.card h3 {
    margin-top: 16px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.card p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #9CA3AF;
}

.badge {
    z-index: 1;
    position: absolute;
   
    border-radius: 4px;
    background: #FB5F5F80;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    top: 150px;
    left: 299px;
}

.card a {
    width: 85px;
    height: 30px;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 10px;
    gap: 8px;
    background-color: #885FFB;
}

.footer {
    width: 1150px;
    height: 64px;
    margin-top: 60px;
}

.footer-box {
    display: flex;
    width: 100%;
    border-top: 1px solid #202A3B;
    height: 16px;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 16px;
}

.footer-nav {
    text-align: right;
    color: #FFFFFF;
}

.footer-box span {
    text-align: left;
    color: #9CA3AF;
}