<div class="card">
       <picture>
           <img src="{{photo}}" class="card-img-top" alt="{{id}}">
           {{#if isNew}} <span class="badge">NEW</span> {{/if}}
        </picture>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <a href="#" class="btn btn-hero">Read All</a>
</div>