<div class="card-new">
    <h2>{{title}}</h2>
    <div class="date-news">
        <span class="date">{{date}} by</span>
        <span>{{author}}</span>
    </div>
    <p>{{description}}</p>
    <a href="#">Continue reading</a>
</div>