<div class="card">
    <div class="card-header">
        <h2>{{name}}</h2>
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1>${{price}}<span>/mo</span></h1>
        </div>
        <div class="card-list">
            {{#each data}}
               <p>{{this}}</p>
            {{/each}}
        </div>
        <a href="#" class="btn btn-primary">{{button}}</a>
    </div>
</div>