<section class="footer">
    {{#with footer}}
    <div class="footer-box">
        <div class="footer-nav">
            {{#each pages}}
               {{> link url=path text=name}}
            {{/each}}
        </div>
        <span>{{copyright}}</span> 
    </div> 
    {{/with}} 
</section>