 <div class="form">
            <div class="info">
               <h4>{{heading}}</h4>
               <p>{{info}}</p>
            </div>
            <div class="sing-up">        
                   {{> link list=header}}
            </div>
 </div>
