 <div class="form">
            <div class="info">
               <h4>{{title}}</h4>
               <p>{{info}}</p>
            </div>
            <div class="sing-up">        
               <a class="btn" href="{{href}}">{{button}}</a>
            </div>
 </div>
