<section class="nav">
    <div class="header">
       {{#with header}}
         <div class="header-nav">
            <div class="logo">
               <h class="brand">{{brandName}}</h>
            </div>
            <div class="menu">
               {{#each links}}
                   {{> link }}
               {{/each}}
            </div>
         </div>

         <div class="online">
            <div class="ad">
                 <a href="{{ad.url}}" {{#if blank}} target="_blank"{{/if}} class="header_ad"><span>Ad</span></a> 
                 <span class="roboto-14">{{ad.text}}</span>
            </div>
            <div>
                <span class="roboto-14">User online: {{userOnline}}</span>
            </div>
        </div>
    {{/with}}
    </div>
</section>